#content {
    width: 50%;
    background-color: black;
    color: red;
    height: 50%;
    text-align: center;
}

body {
    background-color: black;
    display: grid;
    place-items: center;
}

btn {
    width: 20%;
    line-height: 20px;
}

input {
    display: block;
    margin: 40px auto;

}

a {
    color: blue;
}
img {
    margin: 100px;
}